#mainform {
    text-align: justify;
    width: 500px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
    margin-left: 460px;
}
form{
    border: 2px solid #637a91;
}
.heading{
    background-color: #637a91;
    padding: 1px 0px;
    text-align: center;
}
.heading h1{
    font-size: 20px;
}
.firstlabel{
    
    margin-left: 30px;
}
.secondlabel{
    margin-left: 142px;
}
.emaillabel{
    margin-left: 30px;
}
.passwordlabel{
    margin-left: 121px;
}
input{
    margin-left: 30px;
    padding: 5px;
}
.buttondiv{
    
    text-align: center;
}
.label1{
    
    padding-top: 20px;
}
.input1{
    padding-top: 10px;

}
.buttondiv{
    padding: 20px 0px 20px 0px;
}
button{
    padding: 7px 160px;
    background-color: #5fcf80;
    border: none;
    border-radius: 7px;
}
.input-ext{
    padding-right : 40px;
}
.footer{
    margin-bottom: 8px;
}
.footer span{
    margin-left: 36px;
}
.footer a{
    text-decoration: none;
}
